$circle-height: 24px;

.page-template-template-schedule {
	.page-header {
		margin-bottom: 0;
	}
}

.schedule-day {
	.schedule-day-events {
		border-left: 4px solid $brand-primary;
		padding-left: 2em;
	}

	h3 {
		position: relative;
		&:before {
			content: ' ';
			position: absolute;
			width: $circle-height;
			height: $circle-height;
			border: 4px solid $brand-primary;
			background-color: #fff;
			border-radius: 50%;
			left: -2em;
			transform: translateX(-6px);
			display: inline-block;

		}
	}
}

.btn-to-top {
	margin: 1em 3em 3em;
}

.nav-schedule-days {
	li {
		width: 25%;
		text-align: center;
		padding: 0 1em;
	}

	& > li > a {
		&:hover, &:focus, &:active {
			background-color: $brand-primary;
			color: #fff;
		}
	}

}