h1, .h1 {
  font-size: 54px;
}

h2, .h2 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 0.7em;
}


body {
	font-size: 18px;
	@media screen and (min-width: $screen-md-min) {
		font-size: 20px;
	}
}